---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section
		class="relative w-full h-[98vh] bg-cover bg-center flex items-end justify-center p-10 pb-20 lg:pb-0"
		style="background-image: url('/src/assets/images/hero-colombiando-nosotras.jpg');"
	>
    <div class="mx-4 w-full bg-colombiando-red rounded-lg p-14 translate-y-16">
      <h1 class="text-3xl md:text-7xl font-semibold text-white">Colombiando somos todos</h1>
    </div>
	</section>     
</Layout>