---
import Button from './Button.astro';
const currentPath = Astro.url.pathname;
---

<header class="absolute top-0 left-0 right-0 z-10 flex items-center justify-between bg-white rounded-lg px-6 py-3 m-8 shadow-lg">
  <div class="flex items-center gap-2">
    <img src="/logo-ColombiAndo.png" alt="ColombiAndo logo" class="h-14 w-auto" />
  </div>
  <nav class="flex flex-grow gap-4 border-b-4 border-black justify-end ml-6 pb-4">
    <a href="/">
      <Button variant="yellow" active={currentPath === '/'}>Inicio</Button>
    </a>
    <Button variant="blue">Proyectos</Button>
    <Button variant="red">Nosotras</Button>
    <Button variant="white">Donaciones</Button>
  </nav>
</header>